<div class="product-overview">
  <h1>Schilderijen & figuren</h1>
  <div class="columns">
    @for (image of paginatedImages; track image.src) {
    <div class="column">
      <a [routerLink]="['/product', image.id]" class="product-link">
        <img
          [src]="image.src"
          alt="Product image"
          class="transition-transform duration-300 transform hover:scale-105 hover:drop-shadow-xl"
        />
        <p style="margin-top: 15px">€ {{ image.price }}</p>
      </a>
    </div>
    }
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 0">←</button>

    @for (page of pages; track page; let i = $index) {
    <button (click)="goToPage(i)" [class.active]="i === currentPage">
      {{ i + 1 }}
    </button>
    }

    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
      →
    </button>
  </div>
</div>
