.home {
    color: white;

    .img {
      width: 100%;
      height: auto;
      display: block;
      filter: brightness(50%);
      margin: 0;
      padding: 0;
      object-fit: cover;
      min-height: 350px !important;
      max-height: 800px;
    }

    .img-header-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    .table {
      width: 700px;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      h2 {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .columns {
      display: flex;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;
      margin-top: 20px;
      text-align: center;
      padding-left: 40px;
      padding-right: 40px;
    }

    .column {
      max-width: 353px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    .column img {
      width: 400px;
      height: 400px;
      object-fit: cover;   
      display: block;
      margin-bottom: 10px;
    }

    .button-wrapper {
      margin: 0;
    }

    .button-link {
      color: #025492;
      border: 2px solid #025492;;
      background-color: white;
      padding: 5px 10px;
      text-decoration: none;
      display: inline-block;
      transition: background-color 0.3s ease, color 0.3s ease; /* Smooth effect */
    }

    .button-link:hover {
      background-color: #025492;
      color: white;             
    }

    .welcome-text {
      margin-top: 20px;
      color: black;
      padding-left: 40px;
      padding-right: 40px;
      max-width: 600px;
      text-align: left;
    }
}