<div class="home flex flex-col justify-center">
  <section class="cover-section" style="position: relative; text-align: center">
    <!-- Background Image -->
    <img src="assets/images/eland.png" alt="Cover Image" class="img" />

    <div class="img-header-text">
      <h1 class="mb-4">TOON WOOD STUDIO</h1>
      <h2 class="mb-6">Houtbewerking &amp; Kunst met hout</h2>
    </div>
  </section>

  <h2 style="color: #025492; margin-top: 20px; margin-bottom: 0">
    Welkom bij Toon Wood Studio
  </h2>

  <div class="w-full justify-items-center">
    <div class="welcome-text">
      <p>
        Welkom bij Toon Wood Studio – waar vakmanschap en creativiteit
        samenkomen in uniek houten design. Wij zijn gespecialiseerd in
        houtbewerking en het maken van handgemaakte kunstwerken van hout die
        niet alleen je interieur verfraaien, maar ook een verhaal vertellen. Elk
        stuk is met zorg en oog voor detail gemaakt – duurzaam, stijlvol en vol
        karakter.
      </p>

      <p>
        Of je nu je woonkamer een warme, ambachtelijke sfeer wilt geven of op
        zoek bent naar een bijzonder cadeau, bij Toon Wood Studio vind je
        authentieke, handgemaakte houten creaties die passen bij jouw
        persoonlijke stijl en levensruimte. Ontdek hoe hout tot leven komt in
        onze studio, en laat je inspireren door de kracht van ambachtelijk werk.
      </p>
    </div>
  </div>

  <h2 style="color: #025492; margin-top: 20px; margin-bottom: 0">
    Producten & Diensten
  </h2>

  <div class="columns">
    <div class="column">
      <img src="assets/images/horse.png" alt="Schilderijen" />
      <div class="button-wrapper">
        <a class="button-link" href="products">Schilderijen & figuren</a>
      </div>
    </div>

    <div class="column">
      <img src="assets/images/kast.png" alt="Figuren" />
      <div class="button-wrapper">
        <a class="button-link" href="furniture">Meubels</a>
      </div>
    </div>

    <div class="column">
      <img src="assets/images/dolly.png" alt="Meubels" />
      <div class="button-wrapper">
        <a class="button-link" href="services">Diensten & Bestellingen</a>
      </div>
    </div>
  </div>
</div>
