<div class="home flex flex-col justify-center">
  <section class="cover-section" style="position: relative; text-align: center">
    <!-- Background Image -->
    <img src="assets/images/dear.png" alt="Cover Image" class="img" />

    <!-- Overlay Text -->
    <div class="img-header-text">
      <h1 class="mb-4">TOON WOOD STUDIO</h1>
      <h2 class="mb-6">Houtbewerking &amp; Kunst met hout</h2>

      <!-- <a
        href="#assortiment"
        style="
          display: inline-block;
          padding: 0.75rem 1.5rem;
          border: 2px solid white;
          color: white;
          text-decoration: none;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.4);
        "
      >
        Bekijk ons assortiment
      </a> -->
    </div>
  </section>

  <h1 style="color: #025492; margin-top: 30px">Producten & Diensten</h1>

  <div class="columns">
    <div class="column">
      <img src="assets/images/dear.png" alt="Schilderijen" />
      <div class="button-wrapper">
        <a class="button-link" href="products">Schilderijen & figuren</a>
      </div>
    </div>

    <div class="column">
      <img src="assets/images/dear.png" alt="Figuren" />
      <div class="button-wrapper">
        <a class="button-link" href="#meubels">Meubels</a>
      </div>
    </div>

    <div class="column">
      <img src="assets/images/dear.png" alt="Meubels" />
      <div class="button-wrapper">
        <a class="button-link" href="#meubels">Diensten & Bestelling</a>
      </div>
    </div>
  </div>

  <div class="welcome-text">
    Welkom bij Toon Wood Studio! Wij zijn expert op het gebied van houtbewerking
    en het maken van kunst met hout.
  </div>
</div>
